@model IEnumerable<CoreApp.Models.EventCalendar>



<h1>@ViewData["Title"] Events list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Start Date Time
            </th>
            <th>
                End Date Time 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End.DateTime)
            </td>
            <td>
                <a asp-action="DeleteShow" asp-route-id="@item.Id">Delete</a>                 
            </td>
        </tr>
    }
    </tbody>
</table>
